*{
    margin: 0;
    padding: 0;
}
.red{
    color: crimson;
}
.product-main{
    display: flex;
    justify-content: space-between;
    

}
.product-item{
    
    border: 1px solid black;
    border-radius: 10px;
    margin: 50px 30px;
    box-shadow: 2px 2px 10px grey;

}
.product-item img{
    border-radius: 10px 10px 0px 0px;
}
p{
    padding:20px 0px;
}
.flex-box{
    display: flex;
    justify-content: space-between;

}
.product-inner{
    padding: 20px;
}
.flex-box h2{
    margin: 0;
}
.flex-box ul{
    display: flex;
    list-style-type: none;
}
.flex-box ul li{
    margin-right: 5px;
}
.flex-box button{
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}