*{
    margin:0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
   
  }
  
    .container{
    background-image:url("/bootstrap/pics/tourpic3.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    color:crimson;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    
  }
  
  nav ul {
    list-style-type: none;
    margin: 10px auto;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 1em;
  }
  
  nav a {
    color:rgb(238, 8, 8);
    text-decoration: none;
    font-weight: 600;
  }
  
  main {
    padding: 7em;
    background-color:rgb(1, 251, 255);
  }
  h2{
    margin-bottom: 50px;
  }
  
  form label {
    display: block;
    margin-bottom: 0.5em;
  }
  
  form input[type=text], form input[type=date] {
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 3px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 300px;
  }
  
  form input[type=submit] {
    background-color: #333;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  section {
    background-image: url("/tutorials/images/adv5.jpg");
    background-position: center;
    background-size: cover;
    color: #fff;
    height: 100vh;
   /* margin: 2em auto;
    max-width: 800px;*/
  }
  
  section h2 {
    font-size: 2em;
    margin-bottom: 1em;
    padding: 20px 30px;
  }
  
  section p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 1.5em;
    padding-left: 30px;
  }
  
  section button {
    background-color: #ff7f50;
    color: #fff;
    border: none;
    padding: 1em;
    font-size: 1.2em;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    left: 30px;
  }
  
  section button:hover {
    background-color: #ff6347;
  }
  
  
  footer {
    background-color:dodgerblue;
    color: #fff;
    text-align: center;
    padding: 1em;
  }
  